# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
*.egg

# PyInstaller
build/
dist/
*.spec.bak

# Virtual Environment
venv/
.venv/
env/

# IDE
.vscode/
.idea/

# OS
desktop.ini
Thumbs.db

# Config (if contains sensitive data)
# dist/config.json
